<div>    
    <h2><%=@email.object%></h2>
    </br>
    <p> <em><%=@email.body %></em></p>

<a href="<%= emails_path %>" class="btn btn-secondary m-3 rounded-pill">Revenir au menu</a>

      <a class="btn btn-danger" href="#">Delete</a>
      <a class="btn btn-primary" href="#">Mark as unread</a>
</div>